<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El rincón del Cine - Tickets</title>
    <link rel="stylesheet" th:href="@{/styles/estilos.css}">
</head>
<body>
    <div class="bas"><div class="Slogan"><div class="NomSitio"></div></div></div>
    <div class="base">
        <div class="cabecera"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div class="subcabecera"><p>¡¡ Compra realizada con éxtio !!</p></div>
        <div class="cuerpo">
            <div class="EntregaEntradas">
                <p th:text="'La compra ha sido realizada con éxito. En breve se enviará un correo electrónico a ' + ${cliente.email}"></p>
                <p>Si desea imprimir las entradas haga click <a href="./imrpimirTicket.html" target="_blank">aquí</a>. También puede capturar los códigos QR que se muestran a continuación.</p>
            </div>
            <div class="EntregaEntradas">
                <div class="Entrada" th:each="QR, iterStat : ${cliente.codesQR}">
                    <div class="EntradaCab">
                      <img th:src="@{/img/means/entrada.gif}" alt="ticket" />
                      <p class="EntrCodeTitle">Código</p>
                      <p class="EntrCodeVal" th:text="${QR}">1000006372127372</p>
                      <p class="EntrPeliculaTitle">Película</p>
                      <p class="EntrPeliculaVal" th:text="${cliente.peliculaChosen.titulo}">LightYear</p>
                      <p class="EntrSala" th:utext="'<span>Sala:</span>' + ${cliente.peliculaChosen.sala}"></p>
                      <p class="EntrFechaVal" th:text="'Fecha: ' + ${fecha}"> 15/10/2022</p>
                      <p class="EntrHoraVal" th:text="'Hora: ' + ${cliente.hourString}">+20:00h</p>
                      <p class="EntrButacaVal" th:text="'Fila: ' + ${cliente.arrFilasToShowInEnd[iterStat.count - 1]} + ',Butaca: ' + ${cliente.arrButacasToShowInEnd[iterStat.count - 1]}"></p>
                    </div><!--
                 --><div class="EntradaCuer">
                    <img th:src="@{/img/means/entrada-cue.gif}" alt="ticket" />
                    <p class="EntrPeliculaTitle">Película: <span th:text="${cliente.peliculaChosen.titulo}">LightYear</span></p>
                    <p class="EntrSalaTitle">Sala: <span th:text="${cliente.peliculaChosen.sala}">2</span></p>
                    <p class="EntrFechaVal" th:text="${fecha}">15/10/2022</p>
                    <p class="EntrHoraVal" th:text="${cliente.hourString} + 'h'">+20:00h</p>
                    <p class="EntrButacaVal1" th:text="'Fila: ' + ${cliente.arrFilasToShowInEnd[iterStat.count - 1]}">Fila: 5</p>
                    <p class="EntrButacaVal2" th:text="'Butaca: ' + ${cliente.arrButacasToShowInEnd[iterStat.count - 1]}">Butaca: 2</p>
                    <img class="ImagenQR" th:src="'https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=' + ${QR}" alt="QR"/>
                    
                    </div>
                </div>
              
            </div>
            <div class="EntregaEntradas">
                <form>
                        <a class="homebtn" th:href="@{/index}">&nbsp;</a>
                </form>
            </div>
        </div>
        <div class="pie"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</body>
</html>