<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El rincón del Cine - Confirmación</title>
    <link rel="stylesheet" th:href="@{/styles/estilos.css}">
</head>
<body>
    <div class="bas"><div class="Slogan"><div class="NomSitio"></div></div></div>
    <div class="base">
        <div class="cabecera"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div class="subcabecera"><div class="CuentaAtrasUno"></div><p>&nbsp;Revise y confirme la compra</p></div>
        <div class="cuerpo">
           
            <form class="Fdatabuy" name="Fdatabuy" method="POST" th:action="@{/end}" id="formDatabuy" th:object="${cliente}">
              <div class="CabResumenFac"><p>Datos de facturación</p></div>
              <div class="CuerResumen">
                <p th:utext="'<span>Nombre:</span>' + ${cliente.nombre}"></p>
                <p th:utext="'<span>Apellidos:</span>' + ${cliente.apellido}"></p>
                <p th:utext="'<span>E-mail:</span>' + ${cliente.email}"></p>
              </div>
              <div class="CabResumenBuy"><p>Resumen de la reserva</p></div>
              <div class="CuerResumen">
                    <p th:utext="'<span>Película:</span>' + ${cliente.peliculaChosen.titulo}"></p>
                    <p th:utext="'<span>Sala:</span>' + ${cliente.peliculaChosen.sala} "></p>
                    <p th:utext="'<span>Fecha:</span>' + ${fecha}"></p>
                    <p th:utext="'<span>Sesión:</span>' + ${cliente.hourString}"></p>
                    <p th:utext="'<span>Adultos:</span>'+ ${cliente.numAdultos} + ' x ' + ${cliente.peliculaChosen.precio} + '€'"></p>
                    <p th:utext="'<span>&lt; 12 años:</span>' + ${cliente.numNinios} + ' x 3.5€'"></p>
                    <p th:utext="'<span>Butacas:</span>' + ${butacas}"></p>
              </div>
              <div class="CabResumenFac"><p th:utext="'<span>TOTAL: ' + ${cliente.precioTotalVentaEntradas} + '€</span>'"></p></div>
              <div class="CabResumenTar"><p>Confirmación de compra</p></div>
              <div class="DatTarjeta">
                <div><label>Titular:</label><input type="text" th:field="*{titularTarjeta}" value="" required/></div>
                <div><label>Nº Tarjeta:</label><input type="number" th:field="*{numTarjeta}" min="1000000000000000" max="9999999999999999" value="" step="1" required/></div>
                <div>
                  <label>Mes:</label>
                  <select th:field="*{mesCaducaTarjeta}">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                  <label>Año:</label>
                  <select th:field="*{anioCaducaTarjeta}">
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="23">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                  </select>               
                </div>
                <div><label>CCS:</label><input type="number" th:field="*{cvvTarjeta}" min="0" max="999" value="" step="1" required/></div>
              </div>
              <div class="DatTarjeta">
                <a class="atrasbtn" th:href="@{/step2}">&lt;&lt; Atras</a><a class="homebtn" th:href="@{/index}">&nbsp;</a><input type="submit" value="Confirmar" />
              </div>
            </form>
        </div>
        <div class="pie"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</body>
</html>